<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.tiktok.mapper.VideoMapper">
    <!--批量通过id查询视频-->
    <select id="getVideosByVideoId" resultType="org.example.tiktok.entity.Video.Video">
        SELECT *
        FROM video
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>